:root {
  --primary-color: hsl(197, 100%, 40%);
  --secondary-color: hsl(14, 100%, 63%);
  --main-background-color: hsl(79, 49%, 90%);
  --secondary-text-color: hsl(0, 0%, 20%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--primary-color);
  color: #f4f4f4;
  line-height: 1.6;
  cursor: default;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
  background-attachment: fixed;
}

ul,
li {
  list-style-type: none;
  /* Remove bullet points */
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 1.5rem;
}

/* section {
    margin: 0 20px 50px 20px;
} */

input:focus::placeholder {
  opacity: 0;
}

.nav-bar {
  height: 70px;
  width: 100vw;
}

.nav-bar .container {
  max-width: 100%;
  margin: 0 auto 0 10%;
}

.nav-bar a {
  font-size: 1.5rem;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  position: relative;
  transition: color 0.2s;
}

.nav-bar a:hover {
  color: hsla(0, 0%, 100%, 0.808);
}

.nav-bar .flex {
  justify-content: space-between;
}

.nav-bar i {
  display: none;
  margin-left: auto;
  margin-right: 2.5rem;
}

.logo {
  width: 120px;
  height: 100%;
  object-fit: cover;
}

body .ham-menu {
  font-size: 1.5rem;
  white-space: nowrap;
  position: absolute;
  height: min-content;
  width: 100%;
  z-index: 1;
  opacity: 0;
  display: none;
  transition: opacity 0.2s;
}

.ham-menu ul {
  width: 100%;
  padding-left: 1rem;
}

.ham-menu li {
  margin-bottom: 2rem;
  padding-bottom: 0.9rem;
  border-bottom: 3px solid var(--main-background-color);
}

.ham-menu a {
  width: min-content;
  margin-inline: 1rem auto;
}

.home-main {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,
      var(--main-background-color),
      var(--primary-color),
      var(--main-background-color));
}

.home-main h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 2.2rem;
  margin: 2rem;
  font-weight: 700;
}

.home-main section {
  margin: 5rem;
}

.home-main {
  padding: 1rem;
}

body .hero-text {
  position: absolute;
  height: calc(100vh - 70px);
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.11);
}

.hero-text h1 {
  font-size: clamp(2rem, 6vw, 4em);
  font-weight: 700;
  margin-left: 0.7em;
  margin-bottom: 0;
  white-space: nowrap;
  max-width: 100vw;
}

.hero-text p {
  font-size: clamp(1.7rem, 4vw, 2em);
  margin-left: 2em;
  margin-top: 0;
}

.hero-img {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-about {
  height: fit-content;
  padding: 2rem;
  margin: 0 0 3rem 0;
  color: black;
}

.home-about p {
  font-size: 1.2rem;
  margin: 2rem;
}

.home-about img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 10px;
}

section.home-about a.btn {
  display: block;
  margin-left: auto;
  width: fit-content;
}

.home-popular-destinations .slider {
  width: 100%;
  height: 12rem;
}

.home-popular-destinations .slider a {
  position: relative;
  width: 7em;
  height: 10em;
  margin: 1rem;
  border-radius: 5px;
  background-image: url("../images/beach-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-popular-destinations .slider a:hover {
  transform: scale(1.1);
}

.home-popular-destinations .destination-name {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  opacity: 0;
  background: hsla(0, 0%, 0%, 0.2);
  z-index: 1;
  transition: opacity 0.1s;
}

.home-popular-destinations .destination-name:hover {
  opacity: 1;
}

.tour-types .grid {
  place-items: center;
}

.tour-types a {
  width: fit-content;
}

.tour-types .card {
  width: fit-content;
  width: 20rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2 ease;
}

.tour-types .card:hover {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2),
    inset -2px -2px 6px rgba(255, 255, 255, 0.6);
  transform: translateY(1px);
}

/* .travel-tips {
  color: black;
  margin: 0;
  padding: 1em;
  height: 30em;
}

.travel-tips .slider {
  width: 100%;
  gap: 3em;
  height: fit-content;
}

.travel-tips .slider .slide {
  width: 23rem;
  height: min-content;
  background: hsl(650, 50%, 100%);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 1rem;
}

.travel-tips .slider .slide .content{
    padding-inline: 0.5rem;
}

.travel-tips .slider .slide h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.travel-tips .slider .slide p {
  font-size: 1rem;
}

.travel-tips .slider .slide img {
  width: 100%;
  height: 12rem;
}

.travel-tips .slider .slide a{
    display: block;
    text-align: center;
} */

.ds-header {
  display: grid;
  padding: 2em 0 2em 2em;
  justify-content: center;
}

.ds-header h1 {
  justify-self: center;
}

.ds-header .input {
  background: white;
  border: none;
  padding: 5px;
  margin: 0 10px;
  border-radius: 5px;
  width: 150px;
  font-size: 0.8rem;
}

.ds-header p {
  font-size: 1rem;
}

.ds-header span.datalists {
  justify-self: center;
}

.ds-header span.links {
  right: 0;
  position: absolute;
  margin-right: 0.5em;
}

.ds-header ul {
  justify-self: center;
}

.ds-header ul li {
  color: rgba(255, 255, 255, 0.692);
}

.ds-header ul li:hover {
  color: #f4f4f4;
}

.ds-main {
  background-color: #f5f5f5;
  height: fit-content;
  color: var(--secondary-text-color);
  width: 100vw;
  padding-inline: 1rem;
}

.destination-cards {
  height: fit-content;
  padding-bottom: 4em;
  position: relative;
}

.destination-cards h2 {
  font-size: 2rem;
  font-weight: 600;
}

.destination-cards .grid {
  width: 100%;
}

.destination-cards .destinations {
  max-width: 40vw;
  height: fit-content;
  position: relative;
  padding-inline: 0;
  padding-top: 0;
}

.destinations img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.destinations h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-inline: 20px;
}

.destinations p {
  font-size: 1rem;
  margin-inline: 20px;
}

.info {
  margin-right: 0.8rem;
  font-weight: 550;
  font-size: 1rem;
  background: var(--main-background-color);
  padding: 0.5rem;
  border-radius: 10px;
}

.destinations a {
  margin-left: 20px;
}

.see-all {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.4em 1.6em 0.4em 0.4em;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.63);
  text-decoration: underline;
  background: transparent;
  border: none;
}

.see-all:hover,
.hide-all:hover {
  color: rgb(0, 0, 0);
}

.hide-all {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.4em 1.6em 0.4em 0.4em;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.63);
  text-decoration: underline;
  background: transparent;
  border: none;
}

.popular-tours {
  position: relative;
  padding-bottom: 4em;
}

.destination-cards .moreContent,
#toursContainer .moreContent {
  display: none;
  opacity: 0;
  transition: all 1s ease;
}

.destination-cards .show,
#toursContainer .show {
  display: grid;
  animation: fade-in 1s;
  opacity: 1;
}

.moreContent .card,
.even-more-content .card {
  margin-bottom: 2em;
}

.popular-tours .card,
.moreContent .card,
.even-more-content .card {
  width: 30vw;
  padding-inline: 0;
  padding-top: 0;
  position: relative;
}

.popular-tours h2,
.moreContent h2,
.even-more-content h2 {
  font-size: 2rem;
  font-weight: 600;
}

.popular-tours p,
.moreContent p,
.even-more-content p {
  font-size: 0.9rem;
  margin: 0 0 1rem;
  color: #666;
  margin-left: 20px;
}

.popular-tours img,
.moreContent img,
.even-more-content img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.popular-tours .grid {
  grid-template-columns: repeat(3, 1fr);
}

.popular-tours h3,
.moreContent h3,
.even-more-content h3 {
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}

.popular-tours .btn,
.moreContent .btn,
.even-more-content .btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 20px;
}

a.destinations {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--main-background-color);
  border-radius: 10px;
  margin-right: 0.3rem;
  padding: 0.5rem;
}

a.destinations:hover {
  background: hsla(197, 100%, 40%, 0.7);
}

.clear {
  padding: 0.625rem 1.875rem;
  display: inline-block;
  cursor: pointer;
  background: var(--secondary-color);
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  margin-left: 1.25rem;
}

.clear:hover {
  background: #ff5522;
}

.about {
  width: 100vw;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  overflow: hidden;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about h3 {
  margin: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.about p {
  margin: 20px;
  margin-top: 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.692);
}

.about a {
  padding: 5px 15px;
}

.plan-your-trip .grid {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  grid-template-columns: 1fr 1fr 1fr 0.3fr;
}

.plan-your-trip input {
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid rgba(139, 139, 139, 0.267);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.plan-your-trip h2 {
  font-size: 3rem;
  font-weight: bold;
}

.plan-your-trip select {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid rgba(139, 139, 139, 0.267);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 10px;
  width: 160px;
}

.above-the-fold {
  flex-wrap: wrap;
}

.above-the-fold h1 {
  font-size: 3rem;
  font-weight: 600;
}

.above-the-fold img {
  border-radius: 10px;
  width: 500px;
  height: 350px;
}

.above-the-fold :first-child p {
  color: hsl(0, 0%, 81%);
}

.above-the-fold form {
  background: #f4f4f4;
  width: 400px;
  margin: 0 3em 0 2em;
  line-height: 1;
  padding: 1em;
}

.above-the-fold form h2 {
  font-size: 2rem;
}

.above-the-fold form label {
  font-size: 1rem;
}

.above-the-fold form input {
  width: 100%;
  border: rgb(207, 206, 206) 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.above-the-fold form input:focus {
  border: none;
}

.above-the-fold form textarea:focus::placeholder {
  opacity: 0;
}

.above-the-fold div {
  margin: 0 2em;
}

.about-main {
  padding: 0.5em;
  margin-top: 1em;
}

.about-main .grid {
  grid-template-columns: 2fr 1.5fr;
  gap: 2em;
}

.about-main .grid div {
  margin-left: 2em;
}

.about-main h1 {
  font-size: 3em;
  font-weight: 600;
}

.about-main p {
  line-height: 1.5;
}

.about-main h3 {
  font-size: 2em;
}

.about-main img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer{
  display: grid;
  grid-template-rows: 80% 20%;
  height: 20rem;
  overflow: hidden;
}

.footer-columns{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  background: hsl(197, 100%, 15%);
  height: 100%;
}

.footer-columns div{
  height: 90%;
}

footer div{
  padding: 2rem;
}

.profile-picture img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-links{
  gap: 1rem;
} 

.social-links .icons:hover{
  opacity: .5;
}

.site-map{
  gap: 1rem;
  flex-direction: column;
}

.site-map a{
  color: hsla(0, 0%, 100%, 0.664);
}

.site-map a:hover{
  color: white;
}

.project-info{
  height: 100%;
  width: 100%;
  display: flex;
}

.project-info .social-links{
  display: flex;
  margin-left: auto;
  gap: 1rem;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-In-From-Right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-In-From-Left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-In-From-Top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-In-From-Bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .nav-bar .container {
    width: 100%;
    margin-inline: 1rem;
  }
}

@media (max-width: 825px) {
  .nav-bar nav {
    display: none;
  }

  .nav-bar i {
    display: block;
  }
}

/* 
@media(max-width:900px) {
    .nav-bar {
        position: absolute;
    }

    .nav-bar .container i {
        display: block;
        font-size: 2rem;
        padding-right: 1em;
        position: absolute;
        right: 0;
    }

    .nav-bar .container {
        max-width: none;
        width: 100vw;
        justify-content: flex-start;
        margin-left: 0;
    }

    .nav-bar nav {
        position: absolute;
        top: 60px;
        display: none;
        justify-content: flex-end;
        width: 100vw;
        background: var(--primary-color);
        left: 0;
    }

    .nav-bar a {
        width: 100vw;
        padding-left: 1em;
        border-bottom: 1px solid #f4f4f4;
    }

    .nav-bar ul {
        flex-direction: column;
    }

    .hero-text {
        width: 100vw;
        justify-content: flex-start;
        padding: 20vh 1em 2em 1em;
    }

    .hero-text h1 {
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero-text p {
        margin: 0;
    }

    .destination-cards {
        flex-direction: column;
    }

    .destination-cards .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destination-cards .destinations {
        width: 80vw;
        max-width: none;
    }

    .plan-your-trip {
        width: 100vw;
        padding: 0;
        display: flex;
        margin: 0;
        flex-direction: column;
        overflow: hidden;
    }

    .plan-your-trip .card {
        margin-left: 1em;
        margin-right: 1em;
        width: 100vw;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .plan-your-trip .container {
        margin: 0;
        padding: 0;
    }

    .ds-header span.links {
        position: relative;
        justify-self: center;
        margin-top: 1em;
    }

    .ds-header ul {
        display: flex;
        gap: 1em;
    }
}

@media(max-width: 650px) {


    .ds-header h1 {
        font-size: 7vw;
    }

    .ds-header select {
        width: fit-content;
    }

    .ds-main {
        padding: 0;
        width: 100vw;
    }

    .destinations a {
        text-align: center;
    }

    .popular-tours {
        width: 100vw;
        max-width: 100%;
        padding: 0;
        overflow: visible;
    }


    .popular-tours .grid {
        display: flex;
        justify-content: center;
        width: auto;
        overflow-x: auto;
        position: relative;
        scroll-snap-type: x mandatory;
        touch-action: pan-x;
        gap: 1rem;
        padding: 0 1rem;
        box-sizing: border-box;
    }


    .popular-tours .grid::-webkit-scrollbar {
        display: none;
    }

    .popular-tours .grid .card {
        width: 70%;
        max-width: 300px;
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin: 0;
        position: relative;
        height: fit-content;
    }

    .about {
        display: block;
        width: 100%;
    }

    .about .container {
        max-width: none;

    }

    .plan-your-trip {
        width: fit-content;
    }

    .plan-your-trip h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .plan-your-trip .grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 50px;
    }

    .plan-your-trip .container {
        max-width: none;
    }

    .plan-your-trip .grid>*:nth-child(4) {
        align-self: center;
    }
} */