.container {
    max-width: 68.75rem;
    margin: 0 auto;
    overflow: auto;
    padding: 0 2.5rem;
}

.card {
    color: #333;
    background: rgb(255, 255, 255);
    border-radius: .625rem;
    box-shadow: .1875rem .1875rem .625rem rgba(0, 0, 0, 0.2);
    padding: 1.25rem;
    margin: .625rem;
}

.btn {
    display: inline-block;
    padding: .625rem 1.875rem;
    cursor: pointer;
    background: var(--secondary-color);
    color: #f4f4f4;
    border: none;
    border-radius: .3125rem;
}

.btn:hover {
    background-color: #ff5522;
}

.btn:active {
    transform: scale(1.1);
}

.btn-outline {
    background-color: transparent;
    border: .0625rem #f4f4f4 solid;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Backgrounds and colored buttons */
.bg-primary,
.btn-primary {
    background: var(--primary-color);
    color: #f4f4f4;
}

.bg-secondary,
.btn-secondary {
    background: var(--secondary-color);
    color: #f4f4f4;
}

.bg-dark,
.btn-dark {
    background: var(--dark-color);
    color: #f4f4f4;
}

.bg-light,
.btn-light {
    background: var(--light-color);
    color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a,
.bg-light a,
.btn-light a {
    color: white;
}

/* Text colors */
#text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-text-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-light {
    color: var(--light-color);
}

/* Text sizes */
.lead {
    font-size: 1.25rem;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

/* Alert */
.alert {
    background: var(--light-color);
    padding: .625rem 1.25rem;
    font-weight: bold;
    margin: .9375rem 0;
}

.alert i {
    margin-right: .625rem;
}

.alert-success {
    background: var(--success-color);
    color: white;
}

.alert-error {
    background: var(--error-color);
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* repeat(2, 1fr) means repeat 1fr twice*/
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-grid {
    grid-template-columns: 2fr 1fr;
}

/*Margin*/
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/*Padding*/
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* Animation Classes */